img{
    width:500px;
    display:block;
}
input{
    width: 500px;
    display:block;
}
.first{
    margin-left: 350px;
}
.second{
    margin-top: 50px;
    margin-left: 460px;
}
.two{
    margin-left: 100px;
}